<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Signup/Login</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="{% static 'css/login_style.css' %}">


</head>

<body>


<div class="container">
   <section id="formHolder">

      <div class="row">

         <!-- Brand Box -->
         {% comment %} <div class="col-sm-6 brand">
            <a href="#" class="logo">ABV-IIITM <span>.</span></a>

            <div class="heading">
               <h2></h2>
               <p></p>
            </div>


         </div> {% endcomment %}


         <!-- Form Box -->
         <div class="col-sm-6 form">

            <!-- Login Form -->
            <div class="signup form-peice">

               <div class="row">
                    <div  class="col-md-10 col-xs-10 col-sm-10">
                        <br/>
                        <h2>Gatepass</h2>
                        <br/>
                        <div class="modal fade" id="complaint" tabindex="-1" role="dialog" aria-labelledby="complaint" aria-hidden="true"></div>
                        <table id="gatepass" class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Date</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Approve/Cancelled</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gatepass in context %}
                            <tr>
                                <td>{{gatepass.email}}</td>
                                <td>{{gatepass.date}}</td>
                                <td>{{gatepass.reason}}</td>
                                <td>{{gatepass.home}}</td>
                                <td>
                                {% if gatepass.approved %}
                                Approved
                                {% else %}
                                Not Approved
                                {% endif %}
                                
                        </td>
                            </tr>
                            {% endfor %}
                            </tbody>   
                        </table> 
                    </div>
                    </div>
                    </div> 
               <!-- <form action="forgotpassword/" method="POST">
                   {% csrf_token %}
                  <div class="form-group">
                     <label for="username">Username</label>
                     <input type="name" name="username" id="username" required>
                  </div> -->
                
                <!-- </form> -->
            </div><!-- End Login Form -->


            <!-- Signup Form -->
            {% comment %} <div class="login form-peice switched">
               <form class="signup-form" action="register/" method="post">
               {% csrf_token %}
                  <div class="form-group">
                     <label for="name">Full Name</label>
                     <input type="text" name="name" id="name" class="name">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="name">User Name</label>
                     <input type="text" name="username" id="username" class="name">
                     <span class="error"></span>
                  </div>
                  <div class="form-group">
                     <label for="email">Email Adderss</label>
                     <input type="email" name="email" id="email" class="email">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="phone">Phone Number - <small>Optional</small></label>
                     <input type="text" name="number" id="number">
                  </div>

                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" name="password" id="password" class="pass">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="passwordCon">Confirm Password</label>
                     <input type="password" name="repassword" id="repassword" class="pass">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                    <label for="street">Street</label>

                                        <input type="text" id="street" class="floatLabel" name="street" required>
                    </div>


                  <div class="form-group">
                     <label for="city">City</label>
                    <input type="text" id="city" class="floatLabel" name="city" required>

                  </div>
                  <div class="form-group">
                     <label for="post-code">Post Code</label>
                    <input type="text" id="post-code" class="floatLabel" name="post-code" required>

                  </div>
<br>
<br>
                    <h2 class="heading">Reference Information</h2>
                  <div class="form-group">
                      <label for="reference_name">Reference Name</label>
                    <input type="text" id="reference_name" class="floatLabel" name="reference_name" required>

                  </div>
                  <div class="form-group">
                    <label for="reference_email">Reference Email</label>
                    <input type="text" id="reference_email" class="floatLabel" name="reference_email" required>

                  </div>
                  <br>{% endcomment %}


                     {% comment %} <button type="submit" value="Submit"  >Submit</button>

             <a href="#" class="switch">I have an account</a> {% endcomment %}

            </div><!-- End Signup Form --> 
         </div>
      </div>

   </section>


   <footer>
      <p>
      </p>
   </footer>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script  src="{% static 'js/login.js' %}"></script>


</body>
</html>
